%h2
  Зареєструватися
.col-xs-12.col-md-6.col-md-offset-3
  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.text_field :nick_name,label: 'Нік',autofocus: 'true'
    = f.email_field :email,label: 'Електрона пошта'
    .form-group
      = f.form_group :skill_level, label: { text: 'Ролі:' } do
        = f.radio_button :roles, :performer, label: 'Виконавець', inline: true, checked: true
        = f.radio_button :roles, :customer, label: 'Замовник', inline: true
    =f.password_field :password,label: 'Пароль',autocomplete: "off"
    =f.password_field :password_confirmation,autocomplete: "off",label: 'Пароль ще раз'

    =f.submit 'Зберегти'


