:scss
  .leaflet-popup-content-wrapper{
    border-radius: 0px;
    .leaflet-popup-content{
    //margin: 0 10px;
    //border-radius: 0px;
      .tender-title{
        //background-color: blue;
      }
      .tender_show_contacts{
        display: inline-block;
      }
    }
    }



  //.leaflet-popup-content-wrapper{
  //
  //}
.row
  .col-md-12
    .tender-title
      = "Назва: #{@tender.title}"
    .tender-description
      = "Опис: #{@tender.description}"
    .tender-address
      = "Адреса тендеру #{@tender.address}"
    .tender-price
      = "Бюджет: #{@tender.budget} грн."
    .tender-contact
      Контактні дані:
      .tender_show_contacts
        -if user_signed_in?
          = link_to 'Переглянути',tender_show_contacts_path(@tender),remote: true,class: 'tender_contacts'
        -else
          Потрібна
          = link_to 'реєстрація',new_user_session_path