= bootstrap_form_for @category do |f|
  = f.select :p_id,@parent_categories.map { |p_cat|[p_cat.title,p_cat.id]  },label: 'Виберіть категорію',prompt: 'Категорії'
  = f.text_field :alias,label: 'Аліас категорії'
  = f.text_field :title,label: 'Назва категорії'
  = f.file_field :img, label: 'Картинка'
  = f.submit 'Зберегти'

:javascript
  $(document).ready(function(){
    $('#module_admin_manage_category_p_id').change(function() {
      var alias_input_dom = $('#module_admin_manage_category_alias').parents('.form-group')
      if($(this).val()){
        alias_input_dom.hide('slow');
      }else{
        alias_input_dom.show('slow');
      }
    })
    $('form').submit(function(){
      if($('#module_admin_manage_category_p_id').val()){
        $('#module_admin_manage_category_alias').val('');
      }
    })
  });