%h1 Усі категорії
= link_to 'Нова категорія', new_module_admin_manage_category_path,class: 'btn btn-default'
%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.title
        %td= link_to 'Show', category
        %td= link_to 'Edit', edit_module_admin_manage_category_path(category)
        %td= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


