:scss
  .container{
    min-height: calc(100vh - 160px);
    margin-bottom: 20px;
  }
  .alert{
    padding: 0 !important;
    margin-bottom: 0px !important;
    background-color: #eeeeee !important;
  }
  .action_button{
    img{
      width: 30px;
    }
  }
  #footer {
    background:black;
    width:100%;
    height:60px;
    //position:absolute;
    //bottom:0;
    color:whitesmoke;
    //left:0;
  }
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VinMaster
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    -#%nav.navbar.navbar-default.navbar-fixed-top
    -#  .container-fluid
    -#    / Brand and toggle get grouped for better mobile display
    -#    .navbar-header
    -#      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
    -#        %span.sr-only Toggle navigation
    -#        %span.icon-bar
    -#        %span.icon-bar
    -#        %span.icon-bar
    -#      = link_to 'VinMaster',root_path,class: 'navbar-brand'
    -#    / Collect the nav links, forms, and other content for toggling
    -#    #bs-example-navbar-collapse-1.collapse.navbar-collapse
    -#      -#%ul.nav.navbar-nav
    -#      -#  %li.active
    -#      -#    %a{:href => "#"}
    -#      -#      Link
    -#      -#      %span.sr-only (current)
    -#      -#  %li
    -#      -#    %a{:href => "#"} Link
    -#        -#%li.dropdown
    -#        -#  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    -#        -#    Dropdown
    -#        -#    %span.caret
    -#        -#  %ul.dropdown-menu
    -#        -#    %li
    -#        -#      %a{:href => "#"} Action
    -#        -#    %li
    -#        -#      %a{:href => "#"} Another action
    -#        -#    %li
    -#        -#      %a{:href => "#"} Something else here
    -#        -#    %li.divider{:role => "separator"}
    -#        -#    %li
    -#        -#      %a{:href => "#"} Separated link
    -#        -#    %li.divider{:role => "separator"}
    -#        -#    %li
    -#        -#      %a{:href => "#"} One more separated link
    -#      -#%form.navbar-form.navbar-left{:role => "search"}
    -#      -#  .form-group
    -#      -#    %input.form-control{:placeholder => "Search", :type => "text"}
    -#      -#  %button.btn.btn-default{:type => "submit"} Submit
    -#      %ul.nav.navbar-nav.navbar-right
    -#        %li.active
    -#          %a{:href => "#"} Link
    -#        %li
    -#          %a{:href => "#"} Link
    -#        - if user_signed_in?
    -#          %li
    -#            = link_to 'Кабінет', cabinet_path
    -#          %li
    -#            = link_to 'Вийти', destroy_user_session_path, :method => :delete
    -#        - else
    -#          %li
    -#            =link_to 'Авторизація',user_session_path
    -#            -#= link_to 'Войти', new_user_session_path или link_to 'Зарегистрироваться', new_user_registration_path
    -#        -#%li.dropdown
    -#        -#  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    -#        -#    Dropdown
    -#        -#    %span.caret
    -#        -#  %ul.dropdown-menu
    -#        -#    %li
    -#        -#      %a{:href => "#"} Action
    -#        -#    %li
    -#        -#      %a{:href => "#"} Another action
    -#        -#    %li
    -#        -#      %a{:href => "#"} Something else here
    -#        -#    %li.divider{:role => "separator"}
    -#        -#    %li
    -#        -#      %a{:href => "#"} Separated link
    -# material design
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'VinMaster',root_path,class: 'navbar-brand'
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
          -#  %li.active
          -#    %a{:href => "javascript:void(0)"} Active
          -#  %li
          -#    %a{:href => "javascript:void(0)"} Link
          -#  %li.dropdown
          -#    %a.dropdown-toggle{"data-target" => "#", "data-toggle" => "dropdown", :href => "bootstrap-elements.html"}
          -#      Dropdown
          -#      %b.caret
          -#    %ul.dropdown-menu
          -#      %li
          -#        %a{:href => "javascript:void(0)"} Action
          -#      %li
          -#        %a{:href => "javascript:void(0)"} Another action
          -#      %li
          -#        %a{:href => "javascript:void(0)"} Something else here
          -#      %li.divider
          -#      %li.dropdown-header Dropdown header
          -#      %li
          -#        %a{:href => "javascript:void(0)"} Separated link
          -#      %li
          -#        %a{:href => "javascript:void(0)"} One more separated link
          -#%form.navbar-form.navbar-left
          -#  .form-group
          -#    %input.form-control.col-md-8{:placeholder => "Search", :type => "text"}
          %ul.nav.navbar-nav.navbar-right
            %li.active
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            - if user_signed_in?
              %li
                = link_to 'Кабінет', cabinet_path
              %li
                = link_to 'Вийти', destroy_user_session_path, :method => :delete
            - else
              %li
                =link_to 'Авторизація',user_session_path
    .container
      .clear
        %p.notice= notice
        %p.alert= alert
      = yield
    =render partial: 'layouts/modals/tender_comment_modal'
    %footer.page-footer.blue.center-on-small-only#footer
      dsadsadda
      -#.container-fluid
      -#  .row
      -#    .col-md-12
      -#      %h5.white-text Footer Content
      -#      %p.grey-text.text-lighten-4 Here you can use rows and columns here to organize your footer content.
      -#    .col-md-6
      -#      %h5.white-text Links
      -#      %ul
      -#        %li
      -#          %a.grey-text.text-lighten-3{:href => "#!"} Link 1
      -#        %li
      -#          %a.grey-text.text-lighten-3{:href => "#!"} Link 2
      -#        %li
      -#          %a.grey-text.text-lighten-3{:href => "#!"} Link 3
      -#        %li
      -#          %a.grey-text.text-lighten-3{:href => "#!"} Link 4
      -#.footer-copyright.text-center.rgba-black-light
      -#  .container-fluid
      -#    © 2015 Copyright:
      -#    %a{:href => "http://www.MDBootstrap.com"} MDBootstrap.com
:javascript
  $(document).ready(function() {
      $('.alert').fadeOut(3000);
      $('.notice').fadeOut(3000);

    })